@import url("https://fonts.googleapis.com/css2?family=Plaufair+Display:wght@400;500;600;700;800;900;&display=swap");

:root{
  --transition:all 0.7s ease;
  --yellow:
  --dark:
}
*{
  box-sizing:border-box;
  padding:0;
  margin:0;
  font-family: 'Playfair Display', cursive;
}
html{
  scroll-behavior: smooth;
}
body{
  line-height: 1.6;
}
.btn{
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 140px;
  display: block;
  margin:15px auto;
  cursor: pointer;
  transition: var(--transition);
}
.btn:hover{
  opacity: 0.85;
}
.flex{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}
h1,h2,h3,h4,h5,h6{
  padding:8px 0;
}
img{
  width: 100%;
  display: block;
}
@media(max-width: 500px){
  body{
    font-size: 14px;
  }
}
/* header */
.header{
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)),url("images/pexels-photo-1579739.jpg") center/cover no-repeat;
  min-height: 100vh;
  color: #fff;
  padding:25px;
  display: flex;
  flex-direction: column;
  align-content: stretch;
}
.head-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head-top span{
  cursor: pointer;
  letter-spacing: 2px;
  transition: var(--transition);
}
.head-top span:hover{
  color:yellow;
}
.head-bottom{
  flex: 1;
  text-align: center;
  width: 80vw;
  margin: 0 auto;
}
.head-bottom h2{
  padding: 22px 0;
  font-size: 45px;
  border-bottom: 1px solid #fff;
}
.head-bottom p{
  opacity: 0.7;
  font-size: 20px;
  margin: 45 px auto;
  width: 60vw;
}
.head-btn{
  margin: 20px 0;
  font-size: 25px;
  font-weight: bold;
  border: 3px solid #fff;
  background: transparent;
  padding: 15 px 20px;
  background: rgba(0,0,0,0.3);
  color: #fff;
  cursor: pointer;
  transition: var(--transition);
}
.head-btn:hover{
  background: transparent;
}
@media(max-width: 500px){
  .head-btn{
    font-size: 17px;
  }
  .head-bottom h2{
    font-size: 28px;
  }
  .head-bottom p{
    font-size: 17px;
    margin: 20px auto;
  }
}
/* side nav */
.sidenav{
  background: var(--dark);
  color: #fff;
  position: fixed;
  top: 0;
  bottom: 0;
  right:-100%; 
  right: 0;
  width: 300px;
  padding: 20px;
  transition: var(--transition);
  z-index: 10;
}

.sidenav.show{
  right:0;
}

.cancel-btn{
  position: absolute;
  right: 25px;
  font-size: 22px;
  cursor: pointer;
  transition: var(--transition);
}
.cancel-btn:hover {
  opacity: 0.7;
}
.navbar{
  margin-top: 50px;
  list-style: none;
  padding: 12px;
}
.navbar li a{
  color: #fff;
  text-transform: capitalize;
  text-decoration: none;
  padding: 15px 0;
  display: block;
  border-bottom: 0.5 px solid rgba(249,211,66,0.3);
  opacity: 0.8;
  letter-spacing: 1.5px;
  transition: var(--transition);
}
.navbar li a:hover{
  padding-left: 12px;
}
.book-now, .log-in{
  background: var(--yellow);
  color: snow;
}
@media(max-width: 400px){
  .sidenav{
    width: 100vw;
  }
}
/* title */
.title{
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 30px;
  color: yellow;
  border-bottom: 5px solid var(--dark);
  width: 235px;
  margin: 15px 0;
}
.sec-width{
  width: 85vw;
  margin: 0 auto!important;
}
/* services */
.services{
  margin: 40px 0;
}
.service{
  display: flex;
  margin: 30px 0;
}
.service-icon{
  flex: 30%;
  align-self: flex-start;
  font-size: 48px;
  color: #252525;
}
.service-content{
  padding-left: 20px;
}
.service-content h2{
  opacity: 0.7;
}
.service-content button{
  margin-left: 0;
  margin-right: 0;
  background: yellow;
  color: #fff;
}
@media(min-width: 992px){
  .services-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
  }
}
/* booking form */
.book{
  background: linear-gradient(rgba(0,0,0, 0.85), rgba(0, 0,0, 0.85)), url("images/pexels-photo-3225531.jpg");
  color: #fff;
  padding: 40px 60px;
}
.book-form{
  display: grid;
}
.form-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.book-form input[type = "submit"]{
  margin: 18px 0 0 0;
  background: var(dark);
  color: #fff;
  border: 1px solid #fff;
}
.book-form label, .book-form input{
  width: 100%;
}
.book-form label{
  font-weight: 600;
  word-spacing: 5px;
  padding-bottom: 8px;
}
.book-form input:not(.btn){
  margin: 4px 0 16px 0;
  padding: 12 px 15 px;
  border-radius: 5px;
  font-size: 17px;
  border: none;
}
.book-form input:focus{
  outline: 0;
}



/* h1 {
  background-color: #0e0325;
  color: rgb(174, 186, 145);
  font-family: cursive;
  font-size: 60px;
  text-align: center;
}
.container {
  text-align: center;
  background-color: #0e0325;
  font-family: cursive;
  color: white;
  border: 8px yellow;
  border-style: double;
  border-radius: 180px;
  width: 270px;
  height: 270px;
  padding: 40px;
  margin: -55px;
  -webkit-margin-top-collapse: collapse;
  display: flex;

  justify-content: center;
}
/* check on margin and display*/
/* body {
  background-color: #19094f;
}
article {
  color: white;
  font-size: 14px;
}

.right-side {
  text-align: right;
  color: white;
  font-size: 25px;
}
/* must have . before class  */

/* .carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
  border: solid #5637dd;
}
#carouselButton {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 100;
}   */
